
.signup form {
    position: absolute;
    left: 32.5%;
    width: 30%;
    top: 20%;
    height: 50%;
    border-color: rgb(144, 160, 179);
    background-color:rgb(144, 160, 179);
}
.signup form #user {
    position: relative;
    top: 20%;

}

.signup form #password {
    top: 30%;
}
#reg {
    position: absolute;
    top: 23%;
    z-index: 2;
    font-size: xx-large;
    font-weight: bold;
    color: white;
    left: 40%;
}

.signup form input {
    position: relative;
    left: 2.5%;
    border-radius: 5px;
    height: 10%;
    font-size: large;
    width: 88%;
    height: 10;
    padding-left: 5%;
    border-color: gainsboro;
    border-style: solid; 
}

